<div class="px-8 py-20 sm:px-6 lg:px-8 block">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-primary">Stock de productos</h1>
      <p class="mt-2 text-sm text-gray-700">Una lista de todos los productos disponibles en el punto de venta seleccionado</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <button type="button" *ngIf="authSvc.hasPermission('view-sales-stock')" (click)="loadMoreStock = !loadMoreStock" class="btn-primary px-6">Agregar a vitrina</button>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <button type="button" *ngIf="authSvc.hasPermission('view-sales-stock')" (click)="downloadInventory()" class="btn-primary px-6">Descargar reporte</button>
    </div>

  </div>
  <div class="mt-8 flow-root">
    <div class="flex justify-end flex-col items-end gap-y-4 ">

      <div class="flex justify-center sm:justify-end">
        <div class="relative shadow-md rounded-lg">
          <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none ">
            <svg class="w-5 h-5 text-red-500 dark:text-red-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
          </div>
          <input type="text" [(ngModel)]="search" (keyup)="getDisplayStock()" id="table-search" class="block p-2 ps-10 text-sm text-gray-900 border border-red-300  rounded-lg w-80 bg-white focus:ring-red-500 focus:border-red-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500" placeholder="Buscar productos">
        </div>
      </div>
    </div>
    <div class="-mx-4 -mb-2 overflow-x-auto ">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8 lg:max-h-[60vh] max-h-[45vh] ">
        <table class="min-w-full divide-y divide-gray-300 overflow-y-auto">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-primary sm:pl-0">Código</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-primary">Nombre </th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-primary">Precio</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-primary">Cantidad</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-primary"> Restante</th>
              <th scope="col" class="px-3 py-3.5 text-right"></th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr *ngFor="let dS of displayStocks"  >
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-primary sm:pl-0">{{dS.product.code}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{dS.product.name}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{dS.price | currency}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{dS.quantity}} {{dS.type_of_unit_measurement.name}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{dS.remaining_percentage}} %</td>
              <td>
                <button (click)="closeLoadStockDialog(dS.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                  </svg>
                </button>
              </td>
            </tr>
            <!-- More products... -->
          </tbody>
        </table>
      </div>
    </div>
    <nav class="flex justify-center mt-10" aria-label="Page navigation example">
      <ul class="flex items-center gap-x-2 -space-x-px h-10 text-base">
        <li>
          <button
            [disabled]="isLoading || currentPage === 1"
            (click)="previousPage()"
            class="rounded-full disabled:opacity-70 disabled:cursor-not-allowed flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border-e-0 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Previous</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
          </button>
        </li>
        <li *ngFor="let page of pageNumbers">
          <button
            [disabled]="isLoading"
            (click)="goToPage(page)"
            [class.active]="currentPage === page"
            aria-current="page"
            class="z-10 rounded-full flex items-center justify-center px-4 h-10 leading-tight text-gray-600 border-gray-300 bg-gray-50 hover:bg-red-100 hover:text-red-700 dark:bg-gray-700 dark:text-white">
            {{ page }}
          </button>
        </li>
        <li>
          <button
            [disabled]="isLoading || currentPage === pageNumbers.length"
            (click)="nextPage()"
            class="rounded-full disabled:opacity-70 disabled:cursor-not-allowed flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Next</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
          </button>
        </li>
      </ul>
    </nav>

  </div>
</div>

<app-load-new [displayStockId]="displayId" *ngIf="loadMoreStock" (close)="closeLoadStockDialog($event)" ></app-load-new>
