.sales-form-container {
  height: 100%; /* Ocupa toda la altura disponible */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sales-wrapper {
  // flex-grow: 1; /* Permite que este div crezca y ocupe el espacio restante */
  overflow-y: auto; /* Activa el scroll vertical si es necesario */
  // height: 100%;
}
.custom-alert {
  .alert-message {
    font-size: 14px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      border: 1px solid #ccc;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
  }
}
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
  margin-top: 3px !important;
}

.ticket-header,
.ticket-info,
.client-info,
.ticket-description,
.ticket-total {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: dashed 0.5px black;
}
.table > :not(caption) > * > * {
  padding: 0 !important;
}

table {
  font-size: 12px;
}

.ticket-auth {
  font-size: 11px;
}
@media print {
  .no-print {
    display: none;
  }
}

:host ::ng-deep {
  .p-dropdown {
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #e5e7eb;

    .p-dropdown-trigger {
      width: 2.5rem;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
