<div class="bg-white flex-col justify-center items-center h-full w-full overflow-y-auto">
  <div class="grid md:grid-cols-3 lg:grid-cols-4">
    <div class="lg:col-span-4 md:col-span-3 col-span-0"></div>
    <div class="lg:col-span-4 md:col-span-6 col-span-12">
      <div id="ticket" style="max-width: 300px;" class="mx-auto">
        <div class="ticket-header mb-1 text-center w-full">
          <img src="../../../assets/images/logo_victoria.png" alt="logo" class="h-20 w-auto object-cover px-4 mx-auto">
          <h6 class="text-xs">CRA 10 CL 6 MERCADO PÚBLICO, FUNDACIÓN</h6>
        </div>

        <div class="ticket-body">
          <div class="ticket-info mb-2">
            <h3 class="mx-auto text-center font-bold">Resumen de venta</h3>
            <table class="text-center w-full mb-0 mt-2">
              <!-- Tabla de resumen -->
            </table>
          </div>

          <!-- Sección de productos -->
          <div class="ticket-info">
            <h4 class="text-center font-bold">Productos</h4>
            <div *ngFor="let p of sale?.productsSummary">
              <div class="ticket-info">
                <p>Producto: {{p.productName}}</p>
                <p>Precio: {{p.price | currency}}</p>
                <p>Cantidad vendida: {{p.totalWeight}}{{p.unit}}</p>
                <p>Total vendido: {{p.totalPrice | currency}}</p>
              </div>
            </div>
          </div>

          <div class="ticket-info">
            <table class="text-center w-full mb-30 mt-2">
              <!-- Tabla de totales -->
              <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody class="w-full">
              <tr class="w-full flex justify-between items-center">
                <td class="text-left text-sm font-bold">Total vendido:</td>
                <td class="text-right text-sm font-bold">{{sale?.totalSold | currency}}</td>
              </tr>
              <tr class="w-full flex justify-between items-center">
                <td class="text-left text-sm font-bold">Dinero base:</td>
                <td class="text-right text-sm font-bold">{{sale?.baseMoney | currency}}</td>
              </tr>
              <tr class="w-full flex justify-between items-center">
                <td class="text-left text-sm font-bold">Total dinero en caja:</td>
                <td class="text-right text-sm font-bold">{{sale?.totalMoney | currency}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-30"></div>
  </div>
</div>
