h4, h5, h6, p {
  margin-bottom: 0 !important;
  margin-top: 3px !important;
}

.mb-1 {
  margin-bottom: 0.25rem/* 4px */;
}

.mb-2 {
  margin-bottom: 0.5rem/* 8px */;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.text-right {
  text-align: right;
}

.text-sm {
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}

.font-bold {
  font-weight: 700;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.logo {
  height: 100px;
}

.ticket-header,
.ticket-info,
.ticket-description,
.ticket-subtotal,
.ticket-total {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: dashed 0.5px black;
}

.table > :not(caption) > * > * {
  padding: 0 !important;
}

table {
  font-size: 12px;
}

.ticket-auth {
  font-size: 11px;
}

.ticket-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
