<div class="bg-white flex-col justify-center items-center h-full w-full">
  <div class="grid  md:grid-cols-3  lg:grid-cols-4 " >
    <div class="lg:col-span-4 md:col-span-3 col-span-0"></div>
    <div class="lg:col-span-4 md:col-span-6 col-span-12">
      <div id="ticket" style="max-width: 300px;" class="mx-auto">

        <div class="ticket-header mb-1 text-center w-full">
          <img src="../../../assets/images/logo_victoria.png" alt="logo" class="h-20 w-auto object-cover px-4 mx-auto">
          <h4 class="text-xs">CARNES LAY</h4>
          <h6 class="text-xs">CL 5A MERCADO PÚBLICO, FUNDACIÓN</h6>
        </div>
        <div class="ticket-body">
          <div class="ticket-info mb-2">
            <h5 class="mx-auto text-center font-bold">Sistema POS</h5>
            <table class="text-center w-full mb-0 mt-2">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="w-full">
                <!--
                    <tr class="w-full flex justify-between items-center" >
                        <td class="text-left font-medium"></td>
                        <td class="text-right">{{bill.id}}</td>
                    </tr> -->
                    <tr class="w-full flex justify-between items-center" >
                        <td class="text-left font-medium ">Fecha de Generación</td>
                        <td class="text-right">{{bill.date}}</td>
                    </tr>
                    <tr class="w-full flex justify-between items-center" >
                        <td class="text-left font-medium ">Medio de Pago</td>
                        <td class="text-right">{{bill.payment_method.name}}</td>
                    </tr>
                </tbody>
            </table>
          </div>

          <div class="client-info mb-2" *ngIf="bill.client.first_name !== ''">
            <table class="table table-centered table-borderless w-full mb-0">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="w-full">
                    <tr class="flex justify-between items-center w-full ">
                        <td class="text-left font-medium">CLIENTE</td>
                        <td class="text-right">{{bill.client.first_name}} {{bill.client.last_name}} </td>
                    </tr>
                    <tr class="flex justify-between items-center w-full ">
                        <td class="text-left font-medium ">NIT/CC</td>
                        <td class="text-right">{{bill.client.identification_number}}</td>
                    </tr>
                    <tr class="flex justify-between items-center w-full ">
                        <td class="text-left font-medium ">EMAIL</td>
                        <td class="text-right">{{bill.client.email}}</td>
                    </tr>
                    <tr class="flex justify-between items-center w-full ">
                        <td class="text-left font-medium ">TELÉFONO</td>
                        <td class="text-right">{{bill.client.phone}}</td>
                    </tr>
                    <tr class="flex justify-between items-center w-full ">
                        <td class="text-left font-medium ">DIRECCIÓN</td>
                        <td class="text-right">{{bill.client.address || 'No ingresada'}}</td>
                    </tr>
                </tbody>
            </table>
          </div>

          <div class="ticket-description mb-1">
              <div class="flex justify-between"  >
                <h6 class="text-xs font-bold">DESCRIPCIÓN</h6>
                <h6 class="text-xs font-bold">VALOR</h6>
              </div>
              <div class="flex w-full justify-between items-start" *ngFor="let p of bill.display_products">
                <div class="text-xs text-left ">
                  <p class="text-sm">{{p.product.product.name}}</p>
                  <small>{{p.amount}}{{p.product.type_of_unit_measurement.name}} x ${{p.product.price}}</small>
                </div>
                <div class="price text-xs text-end">
                  <p class="text-sm">{{convertToNumber(p.amount)  * convertToNumber(p.product.price) | currency }}</p>
                </div>
              </div>
          </div>
          <div class="ticket-total">
            <div *ngFor="let unit of getTotalUnitMeasurementsKeys(bill.total_unit_measurements)" class="inline">
              <h5 *ngIf="bill.total_unit_measurements[unit].total > 0" class="pb-1 text-[12px] font-semibold">
                {{ bill.total_unit_measurements[unit].total }} {{ bill.total_unit_measurements[unit].name }} totales
              </h5>
            </div>
          </div>
          <div class="ticket-total">
            <div class="flex justify-between ">
              <h5 class="pb-1 text-[12px] font-semibold">TOTAL COBRADO</h5>
              <h5 class="text-xs">{{bill.total_cost | currency}}</h5>
            </div>
          </div>
          <div class="ticket-total">
            <div class="flex justify-between ">
              <h5 class="pb-1 text-[12px] font-semibold">TOTAL RECIBIDO</h5>
              <h5 class="text-xs">{{bill.total_received | currency}}</h5>
            </div>
          </div>
          <div class="ticket-total">
            <div class="flex justify-between ">
              <h5 class="pb-1 text-[12px] font-semibold">TOTAL CAMBIO</h5>
              <h5 class="text-xs">{{bill.total_sent | currency}}</h5>
            </div>
          </div>
        </div>
        <div class="ticket-footer">
        </div>
      </div>
    </div>
    <div class="lg:col-span-4 md:col-span-3 col-span-0"></div>
  </div>

</div>
