<div class="px-8 pt-20 sm:px-6 lg:px-8 block h-full">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <p class="text-base font-semibold leading-6 text-black mt-4">Listado de mercancia disponible por producto</p>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -mb-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8 lg:max-h-[60vh] max-h-[45vh] ">
        <table class="min-w-full divide-y divide-gray-300 overflow-y-auto">
          <thead>
            <tr>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-primary">Fecha de entrada</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-primary">Código</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-primary">Nombre</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-primary">Unidades</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-primary">Peso</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr *ngFor="let s of stocks">
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{s.created | date:'short'}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{s.product.code}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{s.product.name}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{s.total_unit}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{s.weight}} {{s.type_of_weight.name}}</td>
              <td>
                <svg (click)="showStockDetail(s.id, s.product.name, s.presentation_unit.name)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-red-500 cursor-pointer mx-auto" >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>

<!-- Delete product modal -->
<app-delete-alert *ngIf="showDeleteAlert" [category]="'Producto'" (isDelete)="delete($event)" ></app-delete-alert>


<!-- Product detail modal -->
<app-details (close)="closeModal($event)" *ngIf="showStockDetailModal" [productId]="productId" [productName]="productName" [productPresentationUnit]="productPresentation" ></app-details>
