<ion-content>
  <div class="container mx-auto px-0 sm:px-6 lg:px-8 h-full">
    <div class="flex flex-col justify-center items-center gap-y-4 h-full  mx-auto md:max-w-md max-w-[290px]">
      <!-- Logo image-->
      <img src="../../../../assets/images/logo_victoria.png" class="mb-5" alt="">
      <form class="otp-Form">
        <span class="mainHeading">Ingresa el código</span>
        <p class="otpSubheading">Envíamos un mensaje de verificación a tu correo electrónico</p>
        <div class="inputContainer">
         <input required="required" maxlength="1" type="text" class="otp-input" id="otp-input1">
         <input required="required" maxlength="1" type="text" class="otp-input" id="otp-input2">
         <input required="required" maxlength="1" type="text" class="otp-input" id="otp-input3">
         <input required="required" maxlength="1" type="text" class="otp-input" id="otp-input4">

        </div>
         <button routerLink="/auth/resetPassword" class="btn-primary" type="submit">Verificar</button>
           <p class="resendNote">¿No recibiste el código? <button class="resendBtn">Renviar</button></p>
      </form>
    </div>
  </div>
</ion-content>
