<ion-content *ngIf="windowWith < 500">
  <div *ngIf="isLoading" class="flex justify-center items-center h-full">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <app-clients-form
    *ngIf="!isLoading && clientInfo"
    [clientData]="clientInfo"
    (formSubmit)="updateClient($event)"
    [isLoading]="isLoading"
  >
  </app-clients-form>
</ion-content>

<div *ngIf="windowWith > 500">
  <div *ngIf="isLoading" class="flex justify-center items-center h-full">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <app-clients-form
    *ngIf="!isLoading && clientInfo"
    [clientData]="clientInfo"
    (formSubmit)="updateClient($event)"
    [isLoading]="isLoading"
  >
  </app-clients-form>
</div>
