<ion-content>
  <div class="container mx-auto px-0 sm:px-6 lg:px-8 h-full">
    <div
      class="flex flex-col justify-center items-center gap-y-4 h-full mx-auto md:max-w-md max-w-[290px]"
    >
      <img
        ngSrc="../../../../assets/images/logo_lay.png"
        class="mb-5"
        alt=""
        height="120"
        width="260"
      />

      <div class="mb-5 w-full">
        <label for="email">Usuario</label>
        <div class="relative mt-1s rounded-2xl shadow-md">
          <div
            class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 text-gray-400"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
              />
            </svg>
          </div>
          <input
            [(ngModel)]="email"
            type="email"
            name="email"
            id="email"
            class="inputs pl-10"
            placeholder="soyYo"
          />
        </div>
      </div>

      <div class="mb-5 w-full">
        <label for="password">Contraseña</label>
        <div class="relative mt-1s rounded-2xl shadow-md">
          <div
            class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 text-gray-400"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z"
              />
            </svg>
          </div>
          <input
            [(ngModel)]="password"
            [type]="showPassword ? 'text' : 'password'"
            name="password"
            id="password"
            class="inputs pl-10 pr-10"
            placeholder="*****"
          />
          <div
            class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer"
            (click)="togglePasswordVisibility()"
          >
            <svg
              *ngIf="showPassword"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-5 text-gray-400"
            >
              <path
                d="M12 4.5c-5 0-9.27 3.11-10.5 7.5a11.96 11.96 0 0 0 21 0c-1.23-4.39-5.5-7.5-10.5-7.5zM12 15a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
              />
            </svg>
            <svg
              *ngIf="!showPassword"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-5 text-gray-400"
            >
              <path
                d="M10.58 7.75A4.01 4.01 0 0 1 12 8c1.7 0 3 1.3 3 3 0 .65-.2 1.25-.57 1.73l1.43 1.43a5.986 5.986 0 0 0 .84-3.16c-1.24-4.39-5.5-7.5-10.5-7.5A11.96 11.96 0 0 1 0 12c1.23 4.39 5.5 7.5 10.5 7.5 1.43 0 2.81-.23 4.08-.66L8.43 10.17A4.01 4.01 0 0 1 10.58 7.75z"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="mb-5 w-full shadow-md rounded-2xl">
        <button (click)="login()" type="button" class="btn-primary">
          Iniciar sesión
        </button>
      </div>
    </div>
  </div>
</ion-content>
