<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div>
          <div class="mx-auto flex h-12 w-12 items-center justify-center rounded-full bg-red-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-red-600">
              <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>

          </div>
          <div class="mt-3  sm:mt-5">
            <h3 class="text-base text-center font-semibold leading-6 text-gray-900" id="modal-title">Listado de {{productPresentationUnit}} de {{productName}} </h3>
            <div class="mt-2">
              <div class="px-4 sm:px-6 lg:px-8">
                <div class="mt-8 flow-root">
                  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                      <table class="min-w-full divide-y divide-gray-300">
                        <thead>
                          <tr>
                            <th scope="col" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">Actualizado</th>
                            <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900"> Peso </th>
                            <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Disponible</th>
                            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                              <span class="sr-only">Edit</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                          <tr *ngFor="let sD of stockDetails">
                            <td class="whitespace-nowrap text-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{sD.modified | date:"short"}}</td>
                            <td class="whitespace-nowrap text-center px-3 py-4 text-sm text-gray-500">{{sD.weight}} {{sD.type_of_weight.name}}</td>
                            <td class="whitespace-nowrap text-center px-3 py-4 text-sm " [ngClass]="{'text-red-500': !sD.is_active, 'text-green-500': sD.is_active}" >{{sD.is_active ? 'Si': 'No'}}</td>
                            <td class="relative whitespace-nowrap text-center py-4 pl-3 pr-4 flex items-center gap-x-3 sm:pr-0">
                              <button (click)="updateStatusStockDetail(sD.id, sD.is_active)" *ngIf="sD.is_active" >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500 hover:text-red-700">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                                </svg>
                              </button>
                            </td>
                          </tr>
                          <!-- More people... -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-6">
          <button type="button" (click)="closeModal()" class="inline-flex w-full btn-primary justify-center">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
