
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css";


.ion-page, ion-content {
  @apply bg-gray-100 ;
}

label{
  @apply block text-sm font-medium leading-6 text-[#b3241c]
}

.inputs {
  @apply bg-gray-50 block w-full rounded-xl py-2 pl-10 text-gray-900  placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6 outline-none ring-0
}

.btn-primary {
  @apply w-full   rounded-2xl bg-[#b3241c]  py-2 text-sm font-semibold text-white shadow-md hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500
}

.text-primary {
  color: #b3241c;
}
.bg-primary {
  background-color: #b3241c;
}


.active {
  @apply bg-[#b3241c] text-white
}

.p-autocomplete, .p-component,  .p-element, .p-inputwrapper,
.p-element, .p-autocomplete-input, .p-inputtext, .p-component{
  width: 100% !important;
  border-radius: 16px;
  outline: none !important;
}


.p-autocomplete-item:hover,
.p-autocomplete-item:focus,
.p-autocomplete-item.p-highlight {
  background-color: rgb(270 220 201 / var(--tw-bg-opacity)) !important;
}



input[type='text']:focus {
  outline: none !important;

  --tw-ring-color: transparent !important
}

.alert-title  {
  text-align: center !important;
  color: #b3241c !important;
}

.alert-message  {
  text-align: center !important;
}

.error-message{
  font-size: 12px;
  font-weight: 600;
  color: red;
}
