<div class="bg-white flex-col justify-center items-center h-full w-full overflow-y-auto" style="max-height: 100vh;">
  <div class="grid  md:grid-cols-3  lg:grid-cols-4 " >
    <div class="lg:col-span-4 md:col-span-3 col-span-0"></div>
    <div class="lg:col-span-4 md:col-span-6 col-span-12">
      <div id="ticket" style="max-width: 300px;" class="mx-auto">

        <div class="ticket-header mb-1 text-center w-full">
          <img src="../../../assets/images/logo_victoria.png" alt="logo" class="h-20 w-auto object-cover px-4 mx-auto">
          <h4 class="text-xs">CARNES LA VICTORIA</h4>
          <h6 class="text-xs">Cra 10 CL 6 MERCADO PÚBLICO, FUNDACIÓN</h6>
        </div>
        <div class="ticket-body">
          <div class="ticket-info mb-2">
            <p>Completa con tus datos y participa en el sorteo de una moto boxer</p><br>
            <div class="text-left">
              <p class=""><small>Nombre:_____________________________________</small></p><br>
              <p class=""><small>Cedula:______________________________________</small></p><br>
              <p class=""><small>telefono:_____________________________________</small></p><br>
            </div>
          </div>

        </div>
        <div class="ticket-footer">
        </div>
      </div>
    </div>
    <div class="lg:col-span-4 md:col-span-3 col-span-0"></div>
  </div>

</div>
