<div id="ticket" style="max-width: 300px;" class="mx-auto">
  <div class="ticket-header mb-1 text-center w-full">
    <img
      ngSrc="../../../assets/images/logo_lay.png"
      alt="logo"
      class="logo"
      height="120"
      width="260"
    />
    <h4 class="text-xs">CARNES LA VICTORIA</h4>
    <h6 class="text-xs">Cra 10 CL 6 MERCADO PÚBLICO, FUNDACIÓN</h6>
  </div>
  <div class="ticket-body">
    <div class="ticket-info mb-2">
      <p>Completa con tus datos y participa en el sorteo de una moto boxer</p><br>
      <div class="text-left">
        <p class=""><small>Nombre:_____________________________________</small></p><br>
        <p class=""><small>Cedula:______________________________________</small></p><br>
        <p class=""><small>telefono:_____________________________________</small></p><br>
      </div>
    </div>
  </div>
  <div class="ticket-footer">
  </div>
</div>
