h4, h5, h6, p {
  margin-bottom: 0 !important;
  margin-top: 3px !important;
}

.ticket-header , .ticket-info, .client-info, .ticket-description , .ticket-total{
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: dashed .5px black;
}
.table>:not(caption)>*>*{
  padding: 0 !important;
}

table {
  font-size: 12px;
}

.ticket-auth {
  font-size: 11px;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.logo {
  height: 100px;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.text-left {
  text-align: left;
}
